
btn-secondary{
  background-color: cyan;
  color: white;
  // font-size: 20px;
  // font-family: "Open Sans";
}

btn-outline-dark{
  background-color: cyan;
  color: white;
  // font-size: 20px;
  // font-family: "Open Sans";
}
