
  .container {
    width: 500px;
    margin: 0 auto;
    /* height: 0 auto; */
    padding: 2px 16px;
    // display: grid
    }

    .card-dog {
      overflow: hidden;
      height: 300px;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
      width: 600px;
    }
