
  .container {
    width: 500px;
    margin: 0 auto;
    /* height: 0 auto; */
    padding: 2px 16px;
    // display: grid
    }

    .container-large {
      width: 550px;
      margin: 0 auto;
      /* height: 0 auto; */
      padding: 2px 16px;
      // display: grid
      }

      .container-bookings {
        display: flex;
        justify-content: space-evenly;
      }
